.article-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  width: 320px;
  padding: 1px 20px 23px;
  border-top: 1px solid @gray;

  &:last-child {
    border-bottom: 1px solid @gray;
    padding-top: 81px;

    &::before {
      position: absolute;
      top: 41px;
      left: 144px;
      content: "";

      width: 30px;
      height: 2px;
      background-color: @color-dark-black;

      opacity: 0.2;
    }

    &::after {
      position: absolute;
      top: 29px;
      left: 158px;
      content: "";

      width: 2px;
      height: 30px;
      background-color: @color-dark-black;

      opacity: 0.2;
    }

    .article-item__link-title {
      padding: 0 38px;
      text-align: center;
    }
  }
}

.article-item__link-title {
  display: block;
  padding-top: 21px;
  padding-bottom: 12px;
  padding-right: 60px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: @color-black;
  text-transform: uppercase;
}

.article-item__text {
  font-size: 12px;
  padding-right: 28px;
  padding-bottom: 4px;
  padding-left: 28px;
  margin-top: 6px;
  margin-bottom: 16px;
  text-align: center;
}

.article-item__link-image {
  display: block;
  width: 140px;
}

.article-item__image {
  display: block;
}

.article-item__box {
  width: 140px;
}

.article-item__table {
  width: 140px;
  margin-bottom: 10px;
  border-collapse: collapse;
  border: none;
}

.article-item__table tr {
  display: flex;
  justify-content: space-between;

  padding-bottom: 5px;
}

.article-item__table th,
.article-item__table td {
  width: 70px;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
}

.article-item__table th {
  text-align: left;
}

.article-item__table td {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .article-item {
    flex-direction: column;

    width: 324px;
    margin-right: 60px;
    margin-top: 140px;
    padding: 0;
    padding-bottom: 39px;
    border: none;
    background-color: @bg-grey;

    &:last-child {
      padding-top: 133px;
      background-color: @color-white;
      border: 1px solid @dark-gray;

      &::before {
        top: 80px;
        left: 133px;

        width: 61px;
        height: 2px;

        opacity: 0.5;
      }

      &::after {
        top: 52px;
        left: 161px;

        width: 2px;
        height: 61px;

        opacity: 0.5;
      }

      .article-item__link-title {
        padding: 32px 76px 20px;
      }
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .article-item__link-image {
    display: flex;
    align-items: flex-end;

    width: 100%;
    height: 208px;
    margin: -82px 0 8px;

    text-align: center;
  }

  .article-item__image {
    max-width: none;
  }

  .article-item__box {
    width: 248px;
    margin: 0 38px;
  }

  .article-item__link-title {
    padding: 32px 55px 19px;
    font-size: 20px;
    text-align: center;
  }

  .article-item__text {
    font-size: 16px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 73px;
  }

  .article-item__table {
    width: 248px;
    margin-bottom: 33px;
  }

  .article-item__table tr {
    padding-top: 6px;
    padding-bottom: 8px;
    border-bottom: 1px solid @dark-gray;
  }

  .article-item__table th,
  .article-item__table td {
    width: 124px;
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @desktop-width) {
  .article-item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 6px;

    &:nth-child(even) {
      margin-right: inherit;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:last-child {
      padding-top: 131px;

      &::before {
        position: absolute;
        top: 83px;
        left: 94px;
      }

      &::after {
        position: absolute;
        top: 56px;
        left: 122px;
      }

      .article-item__link-title {
        padding: 29px 40px 13px;
      }
    }
  }

  .article-item__text {
    padding: 0 15px;
    margin-top: 13px;
    margin-bottom: 85px;
  }

  .article-item__box {
    width: 169px;
  }

  .article-item__link-title {
    padding: 27px 8px 22px;
  }

  .article-item__table {
    width: 169px;
    margin-bottom: 33px;
  }

  .article-item__table th,
  .article-item__table td {
    width: 84px;
  }
}
