.article-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  border-top: 1px solid @gray;

  &:last-child {
    border-bottom: 1px solid @gray;
  }

  &--everything {
    padding-top: 75px;

    &::before {
      position: absolute;
      top: 38px;
      left: 147px;
      content: "";

      width: 30px;
      height: 2px;
      background-color: #222222;

      opacity: 0.2;
    }

    &::after {
      position: absolute;
      top: 25px;
      left: 161px;
      content: "";

      width: 2px;
      height: 30px;
      background-color: #222222;

      opacity: 0.2;
    }
  }
}

.article-item__link-title {
  display: block;
  padding-top: 24px;
  padding-bottom: 12px;
  padding-right: 60px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: @c-black;
  text-transform: uppercase;

  &--everything {
    padding-top: 0;
    padding-right: 37px;
    padding-left: 39px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
  }
}

.article-item__text {
  font-size: 12px;
  line-height: 16px;
  padding-right: 28px;
  padding-bottom: 4px;
  padding-left: 29px;
  margin-bottom: 16px;
  text-align: center;
}

.article-item__link-image {
  display: block;
  width: 140px;
  line-height: 0;
}

.article-item__image {
  display: block;
}

.article-item__box {
  width: 50%;
}

.article-item__table {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  border: none;
}

.article-item__table tr {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding-bottom: 2px;
}

.article-item__table th {
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  text-align: left;
}

.article-item__table td {
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  text-align: right;
}

@media (min-width: @tablet-width) {
  .article-item {
    flex-direction: column;
    width: 324px;
    margin-top: 85px;
    margin-bottom: 55px;
    margin-right: 60px;
    padding-top: 0;
    padding-right: 37px;
    padding-bottom: 40px;
    padding-left: 38px;
    border: none;
    background-color: #f2f2f2;

    &:nth-child(even) {
      margin-right: 0;
    }

    &--everything {
      padding-top: 143px;
      background-color: #ffffff;
      border: 1px solid @dark-gray;

      &::before {
        position: absolute;
        top: 80px;
        left: 133px;
        content: "";
        width: 61px;
        height: 2px;
        background-color: @dark-gray;
        opacity: 0.5;
      }

      &::after {
        position: absolute;
        top: 52px;
        left: 161px;
        content: "";
        width: 2px;
        height: 61px;
        background-color: @dark-gray;
        opacity: 0.5;
      }
    }
  }

  .article-item__btn {
    width: 249px;
  }

  .article-item__image {
    vertical-align: top;
  }

  .article-item__box {
    width: 249px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
  }

  .article-item__link-title {
    padding-top: 32px;
    padding-right: 60px;
    padding-bottom: 19px;
    padding-left: 56px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    &--everything {
      padding-right: 41px;
      padding-left: 36px;
      padding-bottom: 12px;
      margin-bottom: -4px;
    }
  }

  .article-item__text {
    font-size: 16px;
    padding-right: 33px;
    padding-bottom: 10px;
    padding-left: 34px;
    margin-bottom: 78px;
    text-align: center;
  }

  .article-item__table {
    width: 100%;
    padding: 0;
    margin-bottom: 33px;
    border-collapse: collapse;
  }

  .article-item__table tr {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding-top: 6px;
    padding-bottom: 8px;
    border-bottom: 1px solid @dark-gray;
  }

  .article-item__table th {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    text-align: left;
  }

  .article-item__table td {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .article-item {
    width: 245px;
    margin-top: 85px;
    margin-bottom: 55px;
    margin-right: 80px;
    padding-top: 0;
    padding-right: 38px;
    padding-bottom: 40px;
    padding-left: 38px;


    &:nth-child(even) {
      margin-right: inherit;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }

    &--everything {
      padding-top: 143px;
      padding-right: 38px;
      padding-left: 38px;
      background-color: #ffffff;
      border: 1px solid @dark-gray;

      &::before {
        position: absolute;
        top: 96px;
        left: 94px;
      }

      &::after {
        position: absolute;
        top: 67px;
        left: 122px;
      }
    }
  }

  .article-item__btn {
    width: 169px;
  }

  .article-item__box {
    width: 167px;
  }

  .article-item__link-title {
    padding-top: 32px;
    padding-right: 15px;
    padding-bottom: 19px;
    padding-left: 4px;

    &--everything {
      padding-right: 10px;
      padding-left: 10px;
      padding-bottom: 12px;
      margin-bottom: 1px;
    }
  }

  .article-item__text {
    padding-right: 1px;
    padding-bottom: 22px;
    padding-left: 1px;
    margin-bottom: 46px;
  }

  .article-item__table tr {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding-top: 6px;
    padding-bottom: 8px;
    border-bottom: 1px solid @dark-gray;
  }
}
