.contacts {
  &--color {
    background-color: @bg-grey;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  align-self: baseline;

  width: 50%;
  padding-top: 20px;
  padding-bottom: 8px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}

.contacts__address {
  align-self: baseline;

  width: 50%;
  padding-top: 15px;
  padding-bottom: 10px;
  line-height: 20px;
  text-align: left;
}

.contacts__map-image {
  position: relative;
  width: auto;
  margin: 0 auto;
  height: 364px;
  background-color: @bg-grey;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: cover;
  }
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    padding-top: 38px;
    padding-bottom: 30px;
  }

  .contacts__title {
    align-self: center;

    width: 240px;
    padding-top: 6px;
    padding-right: 45px;
    padding-bottom: 10px;
    padding-left: 42px;
    margin-right: auto;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    align-self: center;

    width: 220px;
    padding-top: 10px;
    padding-right: 42px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: auto;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__city {
    display: block;
    margin-top: 18px;
  }

  .contacts__map-image {
    min-height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    top: 97px;
    left: calc(50% - 610px);
    z-index: 1;

    width: 570px;
    background-color: #ffffff;
  }

  .contacts__title {
    padding-left: 36px;
    margin-right: 42px;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__map-image {
    background-image: url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
