.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;

  &--preview {
    min-height: 480px;
    padding-top: 26px;
    background-image: url("../img/index-can-mobile@1x.png"),
      url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 20px 164px, 0 0;
  }

  &--contacts {
    display: flex;
    justify-content: space-between;

    padding-top: 16px;
    padding-bottom: 9px;
    background-color: #f2f2f2;
  }

  &--catalog {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: @tablet-width) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    padding-left: 30px;

    &--preview {
      min-height: 830px;
      padding-top: 20px;
      background-image: url("../img/index-can-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: 26px 228px;
    }

    &--wrapper {
      display: flex;
      flex-direction: column;
    }

    &--contacts {
      width: 768px;
      padding-top: 52px;
      padding-right: 70px;
      padding-left: 70px;
      padding-bottom: 55px;
      background-color: #f2f2f2;

      &--on-main {
        background-color: #ffffff;
      }
    }

    &--footer {
      display: flex;
      justify-content: space-between;
      padding-top: 62px;
      padding-bottom: 62px;
    }

    &--form {
      width: 768px;
      padding-right: 65px;
      padding-left: 70px;
    }
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
    padding-left: 40px;

    &--preview {
      min-height: 570px;
      padding-top: 20px;
      padding-left: 107px;
      background-image: url("../img/index-can-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 489px 17px;
    }

    &--wrapper {
      flex-direction: row;
      justify-content: space-between;
    }

    &--contacts {
      position: absolute;
      top: 92px;
      left: 343px;

      width: 570px;
      margin: 0 auto;
      padding-top: 48px;
      padding-right: 90px;
      padding-bottom: 44px;
      padding-left: 75px;
      background-color: #ffffff;
    }

    &--form {
      width: 1300px;
      padding-right: 40px;
      padding-left: 40px;
    }
  }
}
