.contacts {
  background-color: #f2f2f2;

  &--on-main {
    background-color: #ffffff;
  }
}

.contacts__title {
  align-self: baseline;
  width: 50%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}

.contacts__address {
  align-self: baseline;
  width: 50%;
  line-height: 20px;
  text-align: left;
}


.contacts__map-image {
  width: avto;
  margin: 0 auto;
  height: 362px;
  background-color: #f2f2f2;
}


@media (min-width: @tablet-width) {
  .contacts__title {
    align-self: center;

    width: 160px;
    margin-right: auto;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    align-self: center;

    width: 167px;
    margin-left: auto;
    font-size: 16px;
    text-align: right;
  }

  .contacts__city {
    display: block;
    margin-top: 18px;
  }

  .contacts__map-image {
    min-height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;

    width: 100%;
  }

  .contacts__title {
    margin-right: 95px;
  }

  .contacts__address {
    text-align: left;
  }
}
