.description {
  margin-bottom: 40px;
}

.description__title {
  font-size: 36px;
  margin-bottom: 45px;
  text-align: left;
}

.description__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description__item {
  position: relative;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 79px;
  margin-bottom: 14px;

  &::after {
    position: absolute;
    content: "";
    top: 4px;
    left: -1px;
    z-index: 1;

    width: 60px;
    height: 60px;

    background-color: @bg-yelloy-green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--usefully {
    &::after {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
        background-size: 60px auto;
      }
    }
  }

  &--quickly {
    &::after {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
        background-size: 60px auto;
      }
    }
  }

  &--functionally {
    &::after {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
        background-size: 60px auto;
      }
    }
  }

  &--result {
    &::after {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
        background-size: 60px auto;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .description {
    padding-bottom: 32px;
    margin-bottom: 15px;
    border-bottom: 1px solid @dark-gray;
  }

  .description__title {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .description__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 24px;
  }

  .description__item {
    width: 250px;
    padding-top: 142px;
    padding-left: 0;
    padding-bottom: 53px;
    margin-top: 33px;
    margin-bottom: 17px;
    text-align: left;

    &:nth-child(odd) {
      margin-right: 134px;
    }

    &::after {
      top: 30px;
      left: 1px;

      width: 80px;
      height: 80px;

      @media (min-resolution: @retina-dppx) {
        background-size: 80px auto;
      }
    }

    &::before {
      position: absolute;

      top: 120px;
      left: 115px;
      z-index: -1;

      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      color: #f2f2f2;
    }

    &--usefully {
      &::before {
        content: "1";
      }
    }

    &--quickly {
      &::before {
        content: "2";
      }
    }

    &--functionally {
      &::before {
        content: "3";
      }
    }

    &--result {
      &::before {
        content: "4";
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .description {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .description__item {
    max-width: 245px;
    padding-top: 142px;
    margin-right: 80px;

    &:nth-child(odd) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
