.example {
  padding-top: 38px;
  padding-bottom: 37px;
  background-color: @bg-grey;
}

.example__title {
  font-size: 36px;
  margin-bottom: 45px;
  padding-left: 20px;
}

.example__text {
  width: 320px;
  margin-bottom: 11px;
  padding: 0 20px;
  text-align: left;
}

.example__stats-list-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 22px;
  padding: 0 20px;
}

.example__stats-list {
  position: relative;

  &:first-child {
    margin-right: 32px;
  }
}

.example__stats-value {
  width: 124px;
  padding: 15px 16px 19px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid @gray;
  border-radius: 3px;
}

.example__stats-text {
  width: 87px;
  height: 22px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;

  background-color: @bg-grey;

  &--weight {
    position: absolute;
    top: 48px;
    left: -23px;
    z-index: 1;
  }

  &--time {
    position: absolute;
    top: 47px;
    left: -22px;
    z-index: 1;
  }
}

.example__summary {
  margin: 23px 20px 11px 46px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example {
    padding-top: 49px;
    padding-bottom: 70px;
    background-image: linear-gradient(to bottom, @color-white 57%, @bg-grey 43%);
    border-top: 1px solid @dark-gray;
  }

  .example__title {
    font-size: 60px;
    margin-bottom: 86px;
    padding-left: 1px;
  }

  .example__text {
    width: 708px;
    margin-bottom: 38px;
    padding-left: 3px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__stats-list-box {
    justify-content: flex-start;
    width: 708px;
    margin-bottom: 74px;
    padding: 0;
  }

  .example__stats-list {
    &:first-child {
      margin-right: 42px;
    }
  }

  .example__stats-value {
    width: 162px;
    padding-top: 23px;
    padding-bottom: 27px;
    font-size: 30px;
  }

  .example__stats-text {
    width: auto;
    height: 11px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;

    &--weight {
      top: 62px;
      left: -16px;
    }

    &--time {
      top: 62px;
      left: -31px;
    }
  }

  .example__summary {
    width: 175px;
    margin-right: 0;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__cash {
    display: block;
    margin-top: 11px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    padding-top: 0;
    padding-bottom: 64px;
    background-image: linear-gradient(to bottom, @color-white 28%, @bg-grey 28%);
    border-top: none;
  }

  .example__wrapper {
    width: 500px;
    padding-top: 77px;
  }

  .example__title {
    margin-bottom: 168px;
    padding-left: 0;
  }

  .example__text {
    width: 460px;
    margin-bottom: 56px;
    padding-left: 1px;
  }

  .example__stats-list-box {
    width: 100%;
    margin-bottom: 0;
  }

  .example__summary {
    width: 100%;
    margin-top: 46px;
    margin-left: 0;
    text-align: left;
  }

  .example__cash {
    display: inline-block;
    margin-top: 0;
    margin-left: 60px;
    vertical-align: top;
  }
}
