.footer {
  background-color: @bg-grey;
  padding-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;

    padding: 40px 28px;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    padding: 40px 38px;
  }
}
