.logo {
  display: block;
  padding: 10px 0;

  &--footer {
    padding-top: 37px;
    padding-bottom: 29px;
    text-align: center;
  }
}

.logo__image {
  width: 191px;
  height: 38px;
}

.logo__image-footer {
  width: 128px;
  height: 24px;
}

.logo__image,
.logo__image-footer {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .logo {
    margin: 0;
    margin-right: 95px;
    padding: 0;

    &--footer {
      margin-top: 22px;
      margin-right: 50px;
      margin-left: 2px;
      text-align: left;
    }
  }

  .logo__image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .logo {
    margin-right: 317px;

    &--footer {
      margin-right: 320px;
    }
  }

  .logo__image {
    width: 203px;
    height: 60px;
  }
}
