.main__title {
  display: flex;

  width: 320px;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 26px;
  font-size: 36px;
  text-align: left;
  border-top: 1px solid @dark-gray;
}

.main__title-additional {
  position: relative;

  width: 320px;
  margin: 0 auto;
  margin-top: 30px;

  &::before {
    position: absolute;
    content: "";
    top: 13px;
    z-index: -1;

    width: 100vw;
    height: 3px;
    margin-left: calc((320px - 100vw) / 2);

    background-color: @bg-yelloy-green;
    background-position: 0 0;
  }
}

.main__text {
  display: inline-block;

  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 24px;
  text-align: left;
  background-color: #ffffff;
}

.main__subtitle {
  display: flex;

  width: 320px;
  margin-left: auto;
  margin-bottom: 9px;
  margin-right: auto;
  padding-right: 70px;
  padding-bottom: 20px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main__title {
    width: 768px;
    padding-bottom: 0;
    padding-left: 30px;
    font-size: 60px;
    border: none;

    &--catalog {
      padding-top: 54px;
      margin-bottom: 185px;
    }

    &--form {
      padding-top: 53px;
      padding-left: 27px;
      margin-bottom: 75px;
    }
  }

  .main__title-additional {
    width: 708px;
    margin-top: 30px;
    margin-bottom: 60px;

    &::before {
      margin-left: calc((768px - 100vw) / 2);
    }
  }

  .main__text {
    padding-right: 37px;
    padding-bottom: 25px;
    padding-left: 37px;
    font-size: 36px;
  }

  .main__subtitle {
    width: 768px;
    margin-bottom: 47px;
    padding-right: 358px;
    padding-left: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .main__title {
    width: 1300px;
    padding-left: 40px;

    &--catalog {
      padding-top: 82px;
      margin-bottom: 190px;
    }

    &--form {
      padding-top: 84px;
      margin-bottom: 75px;
    }
  }

  .main__title-additional {
    width: 1300px;
    margin-top: 30px;
    margin-bottom: 65px;

    &::before {
      margin-left: calc((1220px - 100vw) / 2);
    }
  }

  .main__text {
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 37px;
    font-size: 36px;
  }

  .main__subtitle {
    width: 1300px;
    margin-bottom: 48px;
    padding-right: 890px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }
}
