.slider {
  position: relative;
}

.slider__toggle {
  position: absolute;
  display: block;
  font-size: 0;
  cursor: pointer;
  top: 265px;
  left: 112px;

  &:first-of-type {
    z-index: 1;
    width: 84px;
    height: 14px;
    background-color: @gray;
    border-radius: 8px;
  }

  &:nth-of-type(2) {
    top: 266px;
    width: 82px;
    height: 12px;
    z-index: 2;

    background-color: #ffffff;
    border-radius: 5px;
  }

  &:last-of-type {
    top: 269px;
    left: 117px;
    z-index: 3;
    width: 35px;
    height: 6px;
    background-color: @bg-yelloy-green;
  }
}

.slider__inner {
  width: 320px;
  height: 232px;
  margin-bottom: 30px;
}

.slider__slide {
  &:last-child {
    display: none;
  }
}

.slider__sslider-controls {
  display: flex;
  justify-content: space-between;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding-right: 61px;
  padding-left: 52px;
}

@media (min-width: @tablet-width) {
  .slider__inner {
    width: 708px;
    height: 517px;
    margin-bottom: 23px;
    margin-left: 22px;
  }

  .slider__toggle {
    position: absolute;
    display: block;
    font-size: 0;
    cursor: pointer;
    top: 265px;
    left: 112px;

    &:first-of-type {
      top: 548px;
      left: 136px;
      width: 428px;
      height: 6px;
      background-color: #dcdcdc;
    }

    &:nth-of-type(2) {
      position: absolute;
      top: 534px;
      left: 326px;
      width: 34px;
      height: 34px;
      z-index: 10;
      border: 1px solid #dcdcdc;
      border-radius: 50%;
    }

    &:last-of-type {
      top: 546px;
      left: 339px;
      width: 8px;
      height: 8px;
      z-index: 20;
      border-radius: 50%;
    }
  }

  .slider__slider-text {
    font-size: 20px;
    padding-right: 70px;
    padding-left: 68px;
  }
}
