.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 52px;
  padding-bottom: 13px;
  padding-left: 64px;

  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social-list__link {
  flex-grow: 1;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 0;

  &:active {
    opacity: 0.3;
  }
}

.social-list__icon {
  fill: #666666;

  &:hover {
    fill: @bg-yelloy-green;
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    flex-grow: 1;

    padding-top: 0;
    padding-right: 113px;
    padding-bottom: 0;
    padding-left: 95px;

    list-style: none;
    border: none;
  }

  .social-list__link {
    &--vkontakte {
      .social-list__icon {
        width: 30px;
        height: 16px;
      }
    }

    &--instagram {
      .social-list__icon {
        width: 23px;
        height: 23px;
      }
    }

    &--facebook {
      .social-list__icon {
        width: 14px;
        height: 28px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .social-list {
    margin-right: 200px;
    padding-right: 164px;
    padding-left: 80px;
  }
}
