@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@import "normalize.less";
@import "global.less";
@import "variables.less";
@import "blocks/container.less";
@import "blocks/btn.less";
@import "blocks/header.less";
@import "blocks/logo.less";
@import "blocks/index.less";
@import "blocks/article-item.less";
@import "blocks/additional-goods.less";
@import "blocks/main.less";
@import "blocks/main-nav.less";
@import "blocks/preview.less";
@import "blocks/programms.less";
@import "blocks/description.less";
@import "blocks/example.less";
@import "blocks/slider.less";
@import "blocks/catalog.less";
@import "blocks/advertising-action.less";
@import "blocks/form.less";
@import "blocks/contacts.less";
@import "blocks/footer.less";
@import "blocks/social-list.less";
@import "blocks/copyright.less";
