.footer {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.footer__logo {
  display: block;
  padding-top: 37px;
  padding-right: 76px;
  padding-bottom: 30px;
  padding-left: 76px;

  .bb-dark-grey;
}

.footer__social {
  margin-bottom: 31px;
}

.social-list {
  display: flex;
  padding-top: 22px;
  padding-bottom: 21px;

  .bb-dark-grey;
}

.copyright__link {
  font-size: 16px;
  color: #111111;
}
